@{
    ViewData["Title"] = "Home";
}


<div class="container">
    <section class="SectionBody">
        <h2 data-text="Stanbic IBTC DiSEP 2.0">Stanbic IBTC DiSEP 2.0</h2>
    </section>
    <section class="SectionBody2">
        <h4 class="h4">Empowering Nigerian Youths with Digital Skills</h4>
    </section>
</div>
<hr />

<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to BookStore</h1>
        <p class="lead text-muted">
            lorem hertyuixbch xjhfebwficwv  h
            lorem hertyuixbch xjhfebwficwv  h
            lorem hertyuixbch xjhfebwficwv  h
            lorem hertyuixbch xjhfebwficwv  h
            lorem hertyuixbch xjhfebwficwv  h
            lorem hertyuixbch xjhfebwficwv  h
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search book</a>
        </p>


    </div>

</section>

<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">Top books</h3>

        @*@await Component.InvokeAsync("TopBooks", new {count = 3})*@

        <vc:top-books count="6"></vc:top-books>


    </div>

</div>


